@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a test website by <a href="https://www.puresourcecode.com/">PureSourceCode.com</a>.</p>
</div>
